name: Compile LaTeX files

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23

      - name: compile
        run: nix build

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            result/cv_english.pdf
            result/cv_portuguese.pdf
          tag_name: latest
