name: Compile LaTeX files

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v23

      - name: compile
        run: nix build

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            result/cv_english.pdf
            result/cv_portuguese.pdf
          tag_name: latest
          name: Latest Build
          body: |
            Automatically compiled CV PDFs from the latest commit.
          draft: false
          prerelease: false